<html lang="zh">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% block page_title %}{% endblock %} - CatChat{% endblock %}</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='semantic-ui/semantic.min.css') }}">
    {% endblock %}
</head>
<body>
<div class="ui labeled icon right vertical inverted demo menu sidebar">
    <a class="item" href="{{ url_for('chat.anonymous') }}">
        <i class="user secret icon"></i>
        匿名模式
    </a>
    <a class="item" href="https://github.com" target="_blank">
        <i class="github icon"></i>
        GitHub
    </a>
    {% if current_user.is_authenticated %}
        <a class="item" href="{{ url_for('chat.profile') }}">
            <i class="setting icon"></i>
            用户资料
        </a>
    {% endif %}
    <a class="item" id="show-help-modal">
        <i class="help icon"></i>
        MD文档帮助
    </a>
    {% if current_user.is_authenticated %}
        <a class="item" href="{{ url_for('auth.logout') }}">
            <i class="power off icon"></i>
            退出
        </a>
    {% endif %}
</div>

{% block nav %}{% endblock %}

<div class="ui modal small help">
    <div class="header">Markdown 帮助</div>
    <div class="content">
        <section class="modal--default__content" id="modal-body-region">
            <div>
                <div class="modal-content">
                    <table class="ui celled striped table">
                        <tbody>
                        <tr>
                            <td><strong>粗体</strong></td>
                            <td>**粗体**</td>
                        </tr>
                        <tr>
                            <td><i>斜体</i></td>
                            <td>*斜体*</td>
                        </tr>
                        <tr>
                            <td>标题</td>
                            <td>#&nbsp;H1<br> ##&nbsp;H2<br> ###&nbsp;H3<br></td>
                        </tr>
                        <tr>
                            <td>
                                <li>列表</li>
                            </td>
                            <td>* 列表</td>
                        </tr>
                        <tr>
                            <td>引用块</td>
                            <td>&gt; 引用块</td>
                        </tr>
                        <tr>
                            <td><a href="#" target="_blank">连接</a></td>
                            <td>[title](http://...)</td>
                        </tr>
                        <tr>
                            <td>图片</td>
                            <td>![alt](http://...)</td>
                        </tr>
                        <tr>
                            <td><code>代码</code></td>
                            <td>`code`</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="codehilite">
<pre><span></span><span class="k">def</span> <span class="nf">hello</span><span class="p">():
&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="k">return</span> <span class="s2">"Hello World"</span>
</pre>
                                </div>
                            </td>
                            <td style="line-height: 100%">```python <i style="color: rgba(0,0,0,0.5)">(shift+enter for
                                line break)</i><br>def hello():<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;return "Hello World"<br>```
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
            </div>
        </section>
    </div>
    <div class="actions">
        <button class="ui button cancel">关闭</button>
    </div>
</div>

<!-- Snippet Modal -->
<div class="ui modal small snippet">
    <div class="header">使用代码框</div>
    <div class="content">
        <div class="ui form">
            <textarea id="snippet-textarea" rows="20"></textarea>
        </div>
    </div>
    <div class="actions">
        <button class="ui button cancel">取消</button>
        <button class="ui button blue approve" id="snippet-button">发送</button>
    </div>
</div>

<!-- Mobile message Modal -->
<div id="mobile-new-message-modal" class="ui modal small">
    <div class="content">
        <div class="ui form">
            <textarea id="mobile-message-textarea" rows="15"></textarea>
        </div>
    </div>
    <div class="actions">
        <button class="ui button cancel">取消</button>
        <button class="ui button orange approve" id="send-button">发送</button>
    </div>
</div>

{% block content %}{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='semantic-ui/semantic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
    {{ moment.locale('zh-CN') }}
    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";
        var messages_url = "{{ url_for('chat.get_messages') }}";
        var root_url = "{{ url_for('chat.index') }}";
        var current_user_id = "{{ current_user.id|default(0) }}"
    </script>
{% endblock %}

</body>
</html>